.coursesSection {
  padding: 2% 10%;
}
.titleSection {
  font-size: 42px;
  text-align: center;
  color: #b77b52;
  margin: 50px 0 50px 0;
}
.cardCourses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}
.cardCourses .card {
  flex: 1 1 280px;
  max-width: 320px;
}
.coursesButton {
  text-align: center;
  margin: 10% 0 0 0;
}
