.focusSection {
  background-color: #c3cfa167;
}

.focusContent {
  padding: 3% 10%;
  display: flex;
  align-items: center;
}

.focusPharagraph .LeftAlignedParagraph h2 {
  color: #b77b52;
}

.focusPharagraph .LeftAlignedParagraph p {
  color: #000;
}

.focusImage {
  margin-right: 5%;
}

.textAboutFooter {
  font-size: 42px;
  text-align: center;
  color: #b77b52;
}

.aboutFooter {
  padding: 5% 20%;
  text-align: center;
}

.lineAboutFooter {
  border: 1px solid #b77b52;
  margin: 5% 30% 0 30%;
}
