.heroSectionProduct {
  background-color: #b77b52;
  height: 90vh;
}

.lightHero {
  background-image: url("../../assets/images/lightHero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  padding: 5% 10%;
}

.contentHeroProduct {
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
}

.contentHeroProduct h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
}

.contentHeroProduct h2 {
  font-family: "inter";
  width: 50vw;
  color: #fff;
}
.titleAndSubtitleHeroProduct {
  /* width: 70%; */
  margin-bottom: 70px;
}
@media (max-width: 1160px) {
  .lightHero {
    padding: 5% 3rem;
  }
}

@media (max-width: 900px) {
  .heroSectionProduct {
    height: 70vh;
  }

  .lightHero {
    height: 70vh;
  }

  .contentHeroProduct {
    width: 100%;
  }
  .contentHeroProduct h1 {
    font-size: 40px;
  }
  .contentHeroProduct h2 {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .heroSectionProduct {
    height: 60vh;
  }

  .lightHero {
    height: 60vh;
  }
  .lightHero {
    padding: 5% 2rem;
  }
}
