.accordion-item {
  background-color: #fff;
  border-radius: 16px;
  margin-bottom: 16px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #3c3c3c;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.accordion-icon {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
  color: #3c3c3c;
}

.accordion-icon.open {
  transform: rotate(90deg);
}

.accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 0 20px;
}

.accordion-content.open {
  max-height: 300px;
  opacity: 1;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;
}

.accordion-text {
  color: #3c3c3c;
  font-size: 16px;
  line-height: 1.6;
}
/* ========================= */
/* Bloques */
/* ========================= */

.accordion-block-title {
  margin-bottom: 1rem;

  font-size: 18px;
  font-weight: 600;

  color: #3c3c3c;
}

.accordion-block-paragraph {
  margin-bottom: 1rem;
}

.accordion-block-list {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

.accordion-block-list li {
  margin-bottom: 0.4rem;
}

/* ========================= */
/* Quote */
/* ========================= */

.accordion-block-quote {
  margin-top: 2rem;

  padding-left: 1rem;

  border-left: 4px solid #b8c28c;

  font-style: italic;

  max-width: 700px;
}

.accordion-block-paragraph p {
  margin: 0;
}

@media (max-width: 600px) {
  .accordion-content.open {
    max-height: 500px;
  }
}
