/* ========================= */
/* Lista */
/* ========================= */

.MapaInicialListContainer {
  margin-top: 2.5rem;
}
.MapaTitle{
      display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}
.MapaTitle h2{
    font-family: "Eyes for Serifs", serif;
    font-weight: 400;
    color: #3c3c3c;
    font-size: 42px;
}
.MapaTitle h4{
  color: #5B614A;
  font-size: 20px;
}

.MapaParagraph{
        display: flex;
    flex-direction: column;
  gap: 30px;
}

.MapaInicialListTitle {
    color: #3c3c3c;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    margin-bottom: 20px;
}

.MapaInicialList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 1rem 2rem;

  list-style: disc;
  padding-left: 1.5rem;
}
.MapaInicialList li{
      color: #3c3c3c;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
}

/* ========================= */
/* Cita */
/* ========================= */

.MapaInicialQuote {
  margin-top: 2.5rem;

  padding-left: 1rem;

  border-left: 4px solid #b8c28c;

  font-style: italic;

  max-width: 700px;
}

/* ========================= */
/* Responsive */
/* ========================= */

@media (max-width: 768px) {
  .MapaInicialList {
    grid-template-columns: 1fr;
  }
}
