.missionSection {
  background-image: url("../../assets/images/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5% 10%;
}

.firstParagraph {
  margin-bottom: 50px;
}

.MyselfDesktop {
  display: flex;
  gap: 50px;
  margin-bottom: 90px;
}

.MyselfParagraphMovil {
  display: none;
}

.firstParagraph h2 {
  font-size: 42px;
  padding-right: 5%;
}

.MyselfParagraph p,
.MyselfParagraphMovil p {
  font-size: 20px;
  font-family: "inter";
  margin-bottom: 30px;
}

.MyselfParagraph h4,
.MyselfParagraphMovil h4 {
  font-size: 20px;
  font-family: "inter";
  margin-bottom: 10px;
}

/* ============================= */
/* NUEVA IMPLEMENTACIÓN IMAGEN + BOX */
/* ============================= */

.photoWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.photoContainer {
  position: relative;
  width: fit-content;
}

.photoParagraph {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen */
.missionPhoto {
  border-radius: 20px;
  display: block;

  /* max-width: 420px; */
  z-index: 1;
}
.missionPhotoMovil {
  display: none;
}
/* Caja superpuesta */
.pharagraphBox {
  position: absolute;
  bottom: -100px;
  left: -51%;
  background-color: #fff;
  border: 2px solid #b77b52;
  border-radius: 20px;
  /* width: 90%; */
  max-width: 550px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.pharagraphBox p {
  font-size: 20px;
  padding: 0;
  text-align: center;
}

/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media (max-width: 1400px) {
  .pharagraphBox p {
    font-size: 18px;
  }
}

@media (max-width: 1340px) {
  .missionPhoto {
    max-width: 420px;
  }

  .pharagraphBox {
    bottom: -100px;
    left: 0;
    margin: 30px;
  }
}

@media (max-width: 1270px) {
  .missionSection {
    padding: 5% 2rem;
  }

  .MyselfDesktop {
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
  }

  .pharagraphBox {
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    margin: 0;
  }

  .firstParagraph h2 {
    font-size: 30px;
  }
  .MyselfDesktop .firstParagraph {
    margin-bottom: 0;
  }
  .MyselfParagraph {
    display: none;
  }

  .MyselfParagraphMovil {
    display: flex;
    flex-direction: column;
    margin: 30px 0 50px 0;
  }

  .boton {
    width: 50%;
  }
  .missionPhoto {
    display: none;
  }
  .missionPhotoMovil {
    display: flex;
    width: 100%;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 600px) {
  .pharagraphBox {
    top: auto;
    bottom: 0;

    left: 50%;
    transform: translate(-50%, 70%);

    width: 90%;
    padding: 20px;
  }

  .pharagraphBox p {
    font-size: 16px;
  }
  .missionPhotoMovil {
    display: none;
  }
  .missionPhoto {
    display: flex;
    width: 100%;
  }
  .MyselfDesktop {
    margin-bottom: 200px;
  }
}
