.ArmonizacionesContent {
  padding: 5% 10% 3% 10%;
  display: flex;
  align-items: center;
}

.ArmonizacionesPharagraph .LeftAlignedParagraph h2 {
  color: #000;
}

.ArmonizacionesPharagraph .LeftAlignedParagraph p {
  color: #000;
}

.ArmonizacionesImage {
  margin-left: 5%;
}
