.heroSectionAbout {
  background-image: url("../../assets/images/heroAbout.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.overlayAbout {
  background-image: url("../../assets/images/overlayHeroHome.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  padding: 5% 10%;
}

.contentHeroAbout {
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
}

.contentHeroAbout h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
}

.contentHeroAbout h2 {
  font-family: "inter";
  width: 50vw;
  color: #fff;
}
.titleAndSubtitleHeroAbout {
  /* width: 70%; */
  margin-bottom: 70px;
}

@media (max-width: 900px) {
  .heroSectionAbout div div {
    width: 100%;
  }
}
