.LeftAlignedParagraph h2 {
  color: #fff;
  font-size: 42px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.LeftAlignedParagraph p {
  color: #fff;
  font-size: 20px;
  max-width: 60vw;
  margin-top: 10px;
}
.logoTitle {
  display: flex;
  gap: 10px;
}
.experienceButtonMovil {
  display: none;
}

@media (max-width: 1160px) {
  .LeftAlignedParagraph p {
    max-width: 100%;
    margin-top: 20px;
  }
  .LeftAlignedParagraph {
    margin-bottom: 20px;
  }
  .experienceButtonMovil {
    display: flex;
  }
}

@media (max-width: 600px) {
  .LeftAlignedParagraph h2 {
    font-size: 30px;
    white-space: wrap;
  }
  .LeftAlignedParagraph p {
    font-size: 18px;
  }
}
