/* .myselfSection {
  background-image: url("../../assets/images/fondoTop.png"),
    url("../../assets/images/fondoBottom.png");
  background-position: top center, bottom center;
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
} */
.myselfSection {
  background-image: url("../../assets/images/fondo.png");
  background-size: cover;
  background-position: top;
}
.sectionWrapper > div {
  background-color: #c3cfa167;
}

.sectionBlock {
  padding: 5% 10%;
  display: flex;
  align-items: center;
  gap: 5%;
}

.sectionBlock.reverse {
  flex-direction: row-reverse;
}

.imageContent img {
  max-width: 100%;
  height: auto;
}

.textContent .LeftAlignedParagraph h2 {
  color: #b77b52;
}

.textContent .LeftAlignedParagraph p {
  color: #000;
}

.textAboutFooter {
  font-size: 42px;
  text-align: center;
  color: #b77b52;
}

.aboutFooter {
  padding: 5% 20%;
  text-align: center;
}

.lineAboutFooter {
  border: 1px solid #b77b52;
  margin: 5% 30% 0 30%;
}

@media (max-width: 1160px) {
  .sectionBlock {
    padding: 5% 3rem;
    flex-direction: column;
  }
  .sectionBlock.reverse {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .sectionBlock {
    padding: 5% 2rem;
  }
}
