.sessionSection {
  padding: 2% 10%;
  margin-bottom: 50px;
}
.titleSection {
  font-size: 42px;
  text-align: center;
  color: #b77b52;
  margin: 50px 0 50px 0;
}
.cardSession {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
}
