@font-face {
  font-family: 'Eyes for Serifs';
  src: url('./assets/fonts/EyesforSerif/eyesforserifs-regular.otf') format('woff2');
  font-weight: 100;
}

.navBar {
  background-color: #B77B52;
  color: #fff;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 8%;
}

.menuDiv {
  display: flex;
  align-items: center;
  
}

.menuDiv a {
  color: #fff;
  text-decoration: none;
  margin: 15px 30px;
  font-size: 20px;
}

.menuDiv a:hover {
  color: aliceblue;
}

.navBar h3 {
  font-family: 'Eyes for Serifs';
  font-weight: lighter;
  color: #fff;
  font-size: 35px;
}
