.navBar {
  background-color: #b77b52;
  color: #fff;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 8%;
}

.menuDiv {
  display: flex;
  align-items: center;
}

.menuDiv a {
  color: #fff;
  text-decoration: none;
  margin: 15px 30px;
  font-size: 20px;
}

.menuDiv a:hover {
  color: aliceblue;
}

.logoHome {
  font-family: "Eyes for Serifs light";
  font-weight: lighter;
  text-decoration: none;
  color: #fff;
  font-size: 35px;
}
