/*-----------------------------------------NAV---------------------------------------------------*/
/* BASE */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.desktopNav,
.movilNav,
.movilNavMenu {
  background-color: #b57a55;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}
.menuDesktop {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  max-height: 28.21px;
}
.menuDesktop a {
  margin: 0;
}
.movilNav {
  display: none;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 15px 30px;
  font-size: 20px;
  white-space: nowrap;
}
nav a i {
  font-size: 30px;
}

/* LOGO BELLEZA DEL SER */
.logoHome {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  height: 72px;
}
.logoHome h3 {
  font-size: 40px;
  font-family: "Eyes for Serifs";
  font-weight: lighter;
  color: #fff;
}

.menuDiv {
  list-style: none;
  display: flex;
  gap: 3.5rem;
  margin: 0;
  padding: 0;
  max-width: 587.91px;
}
.columnMenuDiv {
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.menuDiv a,
.columnMenuDiv a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.02rem;
  white-space: nowrap;
}

.linksNav {
  display: flex;
  gap: 2rem;
  margin: 0;
}

.menu-item {
  position: relative;
}

.menu-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 15%;
  background: white;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 240px;
  margin-top: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: all 0.2s ease-in-out;
  z-index: 20;
}

.submenu li {
  padding: 0;
}

.submenu a {
  color: #3c3c3c;
  display: block;
  padding: 0;
}

.menu-item:hover > .submenu {
  display: block;
}

.menu-item:hover > .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menuDiv a:hover {
  text-decoration: underline;
}

/* MENU HAMBURGUESA */
.hamburgerNav {
  font-size: 20px;
  color: #fff;
}
.carrito {
  margin: 0;
  color: #fff;
  max-height: 28.2px;
  line-height: 1.15;
}

/* MENU MOVIL DESPLEGABLE */
.movilNavMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100vw;
  background-color: #b57a55;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transform: translateX(-100%);
  top: 72px;
  transition: transform 0.4s ease;
  z-index: 1000;
}

.movilNavMenu.active {
  transform: translateX(0);
}

.columnMenuDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movilNavMenu a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.submenuLink {
  color: #3c3c3c !important;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
}
/* Icono hamburguesa */
.hamburgerNav {
  font-size: 25.1px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  line-height: 0;
}
.fa-bars {
  font-size: 28px;
}

.hamburgerNav:hover {
  transform: scale(1.1);
}

/* Submenús en modo móvil (si querés que aparezcan al tocar) */
.columnMenuDiv .submenu {
  display: none;
}
/* SUBMENUS EN MODO MOVIL */
.columnMenuDiv .submenu {
  display: none;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding-top: 0.5rem;
}

.columnMenuDiv .submenu.open {
  display: flex;
}
.columnMenuDiv .submenu.close {
  display: none;
}
.submenu-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  display: block;
  /* padding: 0.5rem 0; */
}
.svg-inline--fa {
  box-sizing: content-box;
  display: var(--fa-display, inline-block);

  overflow: visible;
  vertical-align: -0.125em;
  width: 24.5px;
}
.fa-cart-shopping {
  font-size: 20px;
}
.submenu-toggle .arrow {
  transition: transform 0.3s ease;
}

.submenu-toggle .arrow.open {
  transform: rotate(180deg);
}
.menu-item label {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  display: block;
  padding: 0.5rem 0;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.03rem;
}
@media (max-width: 1260px) {
  .menuDiv {
    gap: 0;
  }
  nav a {
    margin: 15px 15px;
  }
  .linksNav {
    gap: 0;
  }
}
@media (max-width: 1160px) {
  .desktopNav {
    display: none;
  }
  .movilNav {
    display: flex;
  }
}
@media (max-width: 600px) {
  .movilNav {
    padding: 1rem 3rem;
    max-height: 77px;
  }
}
@media (max-width: 490px) {
  .logoHome {
    font-size: 20px;
  }
  .logoHome img {
    width: 25px;
    height: auto;
  }
  .logoHome h3 {
    font-size: 25px;
  }
}
