.courseHeroSection {
  background-color: #b77b52;
  height: 90vh;
}

.courselightHero {
  background-image: url("../assets/images/lightHero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  padding: 5% 10%;
}

.coursecontentHero {
  height: 100%;
  display: flex;
  align-items: center;
}

.coursecontentHero h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
}

.coursecontentHero h2 {
  font-family: "inter";
  width: 50vw;
  color: #fff;
}
.coursetitleAndSubtitleHero {
  /* width: 70%; */
  margin-bottom: 70px;
}

.courseparagraphHero {
  display: flex;
  justify-content: space-between;
}

.priceCourseHero h3 {
  color: #fff;
  font-size: 28px;
  margin: 0 0 15% 10%;
}
.priceCourseHero {
  margin-top: 20%;
}
.descriptionCourse p {
  color: #fff;
  font-size: 20px;
}
.descriptionCourse {
  margin-top: 20%;
}



.resumeCourseContent {
  padding: 5% 10% 3% 10%;
  display: flex;
  align-items: center;
}

.resumeCoursePharagraph .LeftAlignedParagraph h2 {
  color: #000;
}

.resumeCoursePharagraph .LeftAlignedParagraph p {
  color: #000;
}

.resumeCourseImage {
  margin-left: 5%;
}

.goalCourseContent {
  padding: 5% 10% 3% 10%;
  display: flex;
  align-items: center;
}

.goalCoursePharagraph .LeftAlignedParagraph h2 {
  color: #000;
}

.goalCoursePharagraph .LeftAlignedParagraph p {
  color: #000;
}

.goalCourseImage {
  margin-right: 5%;
}

.includeCourseSection{
  background-color: #b77b52;
}
.includeContent{
  padding: 5% 10%;
}
.includeContent p{
  color: #fff;
  width: 100%;
  border-bottom: 1px solid #fff;
  margin-top: 2%;
}
.includeTitle h2{
  color: #fff;
  font-size: 42px;
  text-align: center;
  margin-bottom: 5%;
}