.heroSectionArmonizaciones {
  background-color: #b77b52;
  height: 90vh;
}

.lightHero {
  background-image: url("../../assets/images/lightHero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  padding: 5% 10%;
}

.contentHeroArmonizaciones {
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
}

.contentHeroArmonizaciones h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
}

.contentHeroArmonizaciones h2 {
  font-family: "inter";
  width: 50vw;
  color: #fff;
}
.titleAndSubtitleHeroArmonizaciones {
  /* width: 70%; */
  margin-bottom: 70px;
}
