.buttonAgenda {
  background-color: #c3cfa1;
  color: #647b4d;
  font-size: 25px;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonAgenda:hover {
  background-color: #647b4d;
  color: #c3cfa1;
}

@media (max-width: 900px) {
  .buttonAgenda {
    font-size: 18px;
  }
}
