@font-face {
  font-family: "Eyes for Serifs";
  src: url("./assets/fonts/EyesforSerif/eyesforserifs-regular.otf")
    format("woff2");
  font-weight: 100;
}

.footerBar {
  background-color: #b77b52;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 10px;
  height: 50%;
}

.contentFooter {
  margin: 0% 5%;
  padding: 2% 0;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}

.navFooterBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
}

.menuFooterDiv {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.menuFooterDiv a {
  text-decoration: none;
  margin: 15px 30px;
  font-size: 20px;
  color: #fff;
}

.menuFooterDiv a:hover {
  text-decoration: underline;
}

.navFooterBar h3 {
  font-family: "Eyes for Serifs light";
  font-weight: lighter;
  font-size: 35px;
  color: #fff;
}

.newsletterFooter {
  width: 40vw;
}

.textNwsletter h4 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #fff;
}

.textNwsletter p {
  font-size: 20px;
  color: #fff;
  font-weight: 200;
}

.formNewsletter {
  margin: 20px 0 30px 0;
}

.formNewsletter input {
  color: #000;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  padding: 10px 20px;
  margin-right: 20px;
}

.formNewsletter input::placeholder {
  color: #d2d2d2;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 15px;
}

.contact a {
  font-size: 20px;
  text-decoration: none;
  display: flex;
  margin: 0 15px 15px 0;
  color: #fff;
}

.registredFooter {
  padding: 2% 5%;
}

.registredFooter p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  font-weight: 200;
}

.contact i {
  font-size: 25px;
  margin-right: 5px;
  color: #fff;
}

.socialMedia p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.iconSocial {
  margin-top: 20px;
  display: flex;
  max-width: 30%;
  justify-content: space-between;
}

.iconSocial i {
  font-size: 40px;
  color: #fff;
}

@media (max-width: 1460px) {
  .menuFooterDiv a {
    margin: 5px 10px;
  }
}

@media (max-width: 1220px) {
  .menuFooterDiv {
    flex-direction: column;
  }

  .navFooterBar {
    display: flex;
    justify-content: stretch;
    width: 60vw;
    gap: 20%;
  }
}

@media (max-width: 1000px) {
  .navFooterBar {
    flex-direction: column;
  }

  .contentFooter {
    flex-direction: column;
    align-items: center;
  }

  .socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .contact a {
    flex-direction: column;
    text-align: center;
    margin: 0 0 10px 0;
  }
  .contact i {
    margin-right: 0px;
  }
  .registredFooter {
    text-align: center;
  }

  .iconSocial {
    max-width: 100%;
    gap: 20px;
  }
}

@media (max-width: 490px) {
  .logo {
    flex-direction: column;
    align-items: center;
  }

  .logo img {
    max-width: 48px;
  }
}
