@font-face {
  font-family: "Eyes for Serifs";
  src: url("./assets/fonts/EyesforSerif/eyesforserifs-regular.otf")
    format("woff2");
  font-weight: 100;
}
.footerBar {
  background-color: #b77b52;
}

.contentFooter {
  margin: 0% 5%;
  padding: 2% 0;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}

.navFooterBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
}

.menuFooterDiv {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.menuFooterDiv a {
  text-decoration: none;
  margin: 15px 30px;
  font-size: 20px;
  color: #fff;
}

.menuFooterDiv a:hover {
  color: #000;
}

.navFooterBar h3 {
  font-family: "Eyes for Serifs";
  font-weight: lighter;
  font-size: 35px;
  color: #fff;
}

.newsletterFooter {
  width: 40vw;
}
.textNwsletter h4 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #fff;
}

.textNwsletter p {
  font-size: 20px;
  color: #fff;
}

.formNewsletter {
  margin: 20px 0 30px 0;
}
.formNewsletter input {
  color: #000;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  padding: 10px 20px;
  margin-right: 20px;
}
.formNewsletter input::placeholder {
  color: #d2d2d2;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 15px;
}
.contact a {
  font-size: 20px;
  text-decoration: none;
  display: flex;
  margin: 0 15px 15px 0;
  color: #fff;
}

.registredFooter {
  padding: 2% 5%;
}
.registredFooter p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.contact i {
  font-size: 25px;
  margin-right: 5px;
}

.socialMedia p {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.iconSocial {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.iconSocial i {
  font-size: 40px;
  color: #cccccc;
}
