.SmallButton {
  background-color: #c3cfa1;
  color: #647b4d;
  text-decoration: none;
  font-size: 20px;
  border-radius: 50px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.SmallButton:hover {
  background-color: #647b4d;
  color: #c3cfa1;
}
