.heroSection {
  background-image: url("../../assets/images/heroHome.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.overlay {
  background-image: url("../../assets/images/overlayHeroHome.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  padding: 5% 10%;
}

.contentHero {
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
}

.contentHero h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
}

.contentHero h2 {
  font-family: "inter";
  width: 50vw;
  color: #fff;
}

.titleAndSubtitleHero {
  /* width: 70%; */
  margin-bottom: 70px;
}

@media (max-width: 1160px) {
  .overlay {
    padding: 5% 3rem;
  }
}

@media (max-width: 900px) {
  .heroSection {
    background-image: url("../../assets/images/heroHome.png");
    height: 70vh;
  }

  .overlay {
    background-image: url("../../assets/images/overlayHeroHome.png");
    height: 70vh;
  }

  .contentHero {
    width: 100%;
  }

  .contentHero h1 {
    font-size: 40px;
  }

  .contentHero h2 {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .heroSection {
    background-image: url("../../assets/images/heroHomeMovil.png");
    height: 60vh;
  }

  .overlay {
    background-image: url("../../assets/images/overlayHeroMovil.png");
    height: 60vh;
  }

  .overlay {
    padding: 5% 2rem;
  }
}

@media (max-height: 670px) and (max-width: 950px) {
  .titleAndSubtitleHero {
    margin-bottom: 20px;
  }

  .heroSection {
    background-image: url("../../assets/images/heroHomeMovil.png");
    height: auto;
  }

  .overlay {
    background-image: url("../../assets/images/overlayHeroMovil.png");
    height: auto;
  }
}