.heroSection {
  background-color: #f1f1f1;
  height: 80vh;
  padding: 5% 10%;
}

.contentHero {
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
}

.contentHero h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #fff;
}

.contentHero h2 {
width: 50vw;
  color: #fff;
}
.titleAndSubtitleHero {
  /* width: 70%; */
  margin-bottom: 70px;
}

