@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Eyes for Serifs";
  src: url("./assets/fonts/EyesforSerif/eyesforserifs-regular.otf");
}
@font-face {
  font-family: "Eyes for Serifs light";
  src: url("./assets/fonts/EyesforSerif/eyesforserifs-light.otf");
}
/* ------------------------------------------------RESET-------------------------------------- */
* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
container {
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  font-family: "Eyes for Serifs", serif;
  font-weight: 400;
  color: #3c3c3c;
}

h3,
p,
a {
  color: #3c3c3c;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}

h4 {
  color: #3c3c3c;
}
