.firstButton {
  background-color: #c3cfa1;
  color: #647b4d;
  text-decoration: none;
  font-size: 25px;
  border-radius: 50px;
  padding: 15px 30px;
}

@media (max-width: 900px) {
  .firstButton {
    font-size: 18px;
  }
}
